{% extends 'base.html' %}
{% block content %}
<main>
    <div>
        <h1>My Projects</h1>
        <p><a href="{% url 'create_project' %}">Create a new Project</a></p>
        {% if not projects_list %}
        <p>You are not assigned to any projects</p>
        {% else %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of tasks</th>
                </tr>
            </thead>
            {% for project in projects_list %}
            <tbody>
                <tr>
                    <td>
                        <a href="{% url 'show_project' project.pk %}">{{project.name}}</a>
                    </td>
                    <td>{{project.tasks.all|length}}</td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</main>
{% endblock content %}